<div class="wrapper">
    <div class="body">
      <img class="logo" src="../../../assets/img/login.png" alt="Login image">
      <h1>Recuperacion de Contraseña</h1>
      <form (ngSubmit)="recuperar()"
      [formGroup]="recuperarUsuario">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" formControlName="email" placeholder="Correo Electronico">
          <label>Correo Electronico</label>
          <span 
          *ngIf="recuperarUsuario.get('email')?.hasError('required') && recuperarUsuario.get('email')?.touched" 
          class="text-danger errorlabel">
            Este <strong>campo</strong> es requerido
          </span>
        </div>
        <div class="d-grid gap-2 mb-3">
          <button class="btn btn-success btn-lg" [disabled]="recuperarUsuario.invalid" type="submit">Recuperar</button>
        </div>
      </form>
    </div>
  </div>
  