<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">
                listado de Matriculas
            </span>
            <table class="table mt-5 ">
                <thead>
                  <tr>
                    <th>Fecha</th>
                    <th>Tipo de Solicitud</th>
                    <th>Grupo</th>
                    <th>Codigo Materia</th>
                    <th>Descripción Materia</th>
                    <th>Detalle Solicitud</th>
                    <th>Estado</th>
                    <th>Respuesta Director</th>
                    <th>Link Adjunto</th>
                    <th>Enviado por Correo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>Yeison</th>
                    <td>Asignacion</td>
                    <td>Diurno</td>
                    <td>1</td>
                    <td>lenguajes</td>
                    <td>true</td>
                    <td>si/no</td>
                    <td>www.ejemplo.com</td>
                    <td>si/no</td>
                    <td>si/no</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>