  <div class="container">
    <div class="card">
      <div class="card-body">
        <span class="h3">Listado de Materias</span>
        <button class="btn btn-dark btn-lg float-end" routerLink="/crear-materias">Agregar</button>
        <table class="table mt-5 table-striped">
          <thead>
            <tr>
              <th>Codigo</th>
              <th>Descripción</th>
              <th>Grupo</th>
              <th>Semestre</th>
              <th>IH</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>1</th>
              <td>matematicas</td>
              <td>3</td>
              <td>1</td>
              <td>2</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>  

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>