  <div class="container">
    <div class="card">
      <div class="card-body">
        <span class="h3">Listado de Materias</span>
        <button class="btn btn-primary btn-lg float-end buttonagregar" routerLink="/crear-materias">Agregar</button>
        <button class="btn btn-danger btn-lg float-end" routerLink="/main">Volver</button>
        <table class="table mt-5 table-striped">
          <thead>
            <tr>
              <th *ngFor=" let header of headers">
                {{header}}
              </th>
              <!-- <th>Codigo</th>
              <th>Descripción</th>
              <th>Grupo</th>
              <th>Semestre</th>
              <th>IH</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of tableData">
              <th>{{data.codigo}}</th>
              <td>{{data.descripcion}}</td>
              <td>{{data.grupo}}</td>
              <td>{{data.semestre}}</td>
              <td>{{data.ih}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>  

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>