<div class="wrapper ">
    <div class="body">
      <img class="logo" src="../../../assets/img/login.png" alt="Login image">
      <h1>Asignación</h1> 
    </div>  
  </div>
<div class="contenedor-formulario">
    <form class="formulario"
    #LoginForm="ngForm"
    (ngSubmit) = "guardarMatricula(LoginForm.value)"
    [formGroup] = "registrarMatriculas">
      <div class="row g-2 mb-3">
        <div class="col-md">
          <div class="form-floating">
            <select  type="text" ngModel name="materia" formControlName="materia" class="form-control" aria-label="Floating label select example">
              <option *ngFor="let data of tableDescripcion">{{data.descripcion}}</option>
            </select>
            <label>Materias</label>
            <span 
            *ngIf="registrarMatriculas.get('materia')?.hasError('required') && registrarMatriculas.get('materia')?.touched" 
            class="text-danger errorlabel">
              Este <strong>campo</strong> es requerido
            </span>
          </div>
        </div>
      </div>
      <div class="contenedor-button d-grid gap-2 mb-3 mt-4">
        <button  class="btn btn-primary btn-lg"  [disabled]="registrarMatriculas.invalid" type="submit">Asignar</button>
      </div>
      <div class="contenedor-button d-grid gap-2 mb-3">
        <button  routerLink="/login" class="btn btn-danger btn-lg" type="button">Volver</button>
      </div> 
    </form>
    
  </div>
